.conteudo__principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


h1 {
    padding: 20px;

}

.texto__pagina {
    text-align: center;

}

.ouvidoria img {
    height: 10vh;


}



@media (max-width: 800px) {

    .texto {
        flex: 100%;
    }

    .fila {
        flex: 100%;
    }

    .flex-item-right {
        flex: 100%;
    }
}