.conteudo_principal {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    padding: 0.60rem;
}

.texto_pagina {
    text-align: center;

}
.ouvidoria img {
    height: 10vh;
   
   
}
