h1 {
    padding: 20px;

}

.conteudo__principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.texto__informativo {
    height: 60vh;
    padding: 6rem;
    width: 100vw;
    font-weight: 450;
    text-align: justify;
    font-size: 20px;
}

.posicao__fila {
    text-align: center;
    padding: 40px;
    font-size: 20px;
   
}

.flex-item-right {
    background: #1275AD;
    width: 30vh;
    height: 10vh;
    padding: 20px;
    border: 1px solid #01010198;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
}

.redes {
    top: 102%;
}

@media screen and (max-width: 1330px) {

    .redes,
    .texto_redes {
        display: none;
    }
    
    .flex-item-right {
        flex: 100%;
        text-align: center;
    }

}

@media (max-width: 800px) {

    .texto__informativo {
        flex: 100%;
        padding: 5rem;
        
    }

    .posicao__fila {
        flex: 100%;
    }

     .flex-item-right {
        flex: 100%;
        text-align: center;
    }
    .texto__pagina {
        flex: 100%;
    }
    .redes,
    .texto_redes {
        display: none;
    }
}