

.teste {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin: auto;   
    right: 0;

}

.prestacao__servicos {
    display: flex;
    unicode-bidi: unset;
    padding: 0.4rem;
    width: 100vw;
    text-align: center;
    border: 1px;
    gap: 90px;  
}
.prestacao_servicos_sus {
    font-size: 25px;   
    align-items: center;
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
   
}
.servicos {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding: .2rem;   

}
.servicos__disponiveis {
    font-size: 17px;
    text-align: center;
    border: 0px solid rgba(252, 254, 255, 0.897);
    background-color: #E2EEF1;
    border-radius: 5px;
    height: 28vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding: .7rem; 
    justify-content: space-between;

}
.servicos__disponiveis img {
    width: 40px;
}
.botao  {
    background-color: #1275AD;
    padding: .2rem;
    border: 1px solid #1275AD;
    color: #ffffff;
    margin: 10px;
    height: 3vh;
    border-radius: inherit;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 520;
 
}

.botao a{
    text-decoration: none;
    color: #ffffff;
}
.destaques {
    display: flex;
    justify-content: center;
    font-weight: 630;

}
.texto__destaques {
    font-size: 25px;
    padding: .9rem;
}
.servicos__destaques {
    display: flex;
    width: 100vw;
    height: 30vh;
    gap: 20%;
  
}

.subtitulo__destaques {
    font-size: 10px;
    padding: .9rem;
    align-items: center;
    border: 10px solic black;
    text-align: center;
    width: 30vw;
}


a.next, a.prev {
    color: #1275AD;
    border: 10px;
    top: 40%;   
    
}


@media screen and (max-width: 1330px) {

    .redes,
    .texto_redes {
        display: none;
    
    }
    .prestacao_servicos_sus, .texto__destaques  {
        font-size: 13px;
    }

    .servicos__disponiveis {
        font-size: 10px;
    }
    .links {
        font-size: 10px;
    }
}
