@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,500;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    height: 5vh;

}

body {
    height: 100vh;
    width: 100vw;
    font-family: "Montserrat Alternates", sans-serif;
    overflow-x: hidden;

}

.titulo__pagina {
    font-size: 10px;
    background: linear-gradient(to left, #1275AD, #f9f9f918);
    width: 100vw;
    color: rgba(252, 254, 255, 0.897);
    height: 3%;
    text-align: right;
    padding: 0.50rem;
    padding-right: 2rem;
}

.titulo__pagina a {
    color: #E2EEF1;
    text-decoration: none;
}

header {
    background:#E2EEF1;;
}
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
nav ul {
    list-style: none;/*sem estilo na lista*/
    display: flex;/*define como será exibido*/
    justify-content: center;/*alinhamento horizontal dos itens*/
    align-items: center; /*alinhamento vertical dos itens*/
    z-index: 3;
}
.item-menu {
    padding: 15px;
}
.item-menu:hover {
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 4;
}
.item-menu a {
    color: #000000;
    text-decoration: none;
}
.toggle {
    display: none;
}
#botao {
    display: none;
}
.logo {
    position: absolute;
    /*border: 1px solid #000000;*/
    padding: 5px 4%;
}
.logo_img{
    max-height: 600px;
}

@media only screen and (max-width: 1064px) {
    #botao {
        position: absolute;
        right: 0;
        padding:0 1rem;
        display:block;
        background: none;
        border: none;
        z-index: 50;
        cursor: pointer;
        font-size: 38px;
        color: #1275AD;
    }
    .menu {
        display: none;
    }
    header nav ul {        
        flex-direction: column;
        width: 100%;
    }
    .item-menu {
        z-index: 4;
        font-size: 20px;
        width: 100%;
        text-align: center;
        font-weight: 500;
    }
    .logo {
       
        position: relative;
        width: 100%;
    }
}
    .footer {
        flex-direction: column;
    }

  

    /*
   .teste{    editar quando for modo tela celular, deixar responsivo
    flex-direction: column;
   }*/



.footer {
    font-weight: 600;
    font-style: normal;
    display: flex;
    gap: 50px;
    flex-direction: row;
    border: 1px solid #E2EEF1;
    background: #E2EEF1;
    height: 15vh;
    padding: 0.4rem;
    font-size: 20px;
}

.footer li a {
    text-decoration: none;
    color: #797575;
    font-size: 15px;
}

.footer ul {
    list-style-type: none;
}

.final {
    background: linear-gradient(to left, #1275AD, #f9f9f918);
    height: 5vh;
    bottom: 0;
}

@media screen and (max-width: 1330px) {

    .footer {
        
        font-size: 15px;
    }
    
    .footer li a {

        font-size: 10px;
    }
    
}