
.conteudo__principal {
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
}
h1 {
    font-size: 30px;
    
    height: 5vh;
    text-align: center;
    padding: .4rem;
}

.texto_pagina {
    text-align: center;
    font-size: 12px;
    height: 60vh;
    padding: 2rem;
   
}

.ouvidoria{
    display: flex;
    justify-content: center;
    padding: .5rem;
}

.imagem__ouvidoria{
   align-items: self-start;
    height: 10vh;
    padding: .5rem;
    
    
}


