@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,500;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}


body {
    height: 100vh;
    width: 100vw;
    font-family: "Montserrat Alternates", sans-serif;
    overflow-y: hidden;


}

.titulo__pagina {
    font-size: 10px;
    background: linear-gradient(to left, #1275AD, #f9f9f918);
    width: 100vw;
    color: rgba(252, 254, 255, 0.897);
    height: 3%;
    text-align: right;
    padding: 0.50rem;



}


.menu__navegacao {
    padding: .2rem;
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    border: 2px solid #E2EEF1;
    background-color: #E2EEF1;
}

.menu_links_navegacao {
    text-decoration: none;
    font-size: 13px;
    color: black;


}



.teste {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;

}

.prestacao__servicos {
    display: flex;
    unicode-bidi: unset;
    padding: 0.4rem;
    width: 100vw;
    text-align: center;
    border: 1px;
    gap: 90px;



}

.prestacao_servicos_sus {
    font-size: 9px;
    font-family: 'Montserrat Alternates' sans-serif;
    /align-items: center;/ font-weight: 500;
    width: 79px;
    text-align: right;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;



}

.servicos {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding: .2rem;
    font-family: 'Montserrat Alternates' sans-serif;
    font-weight: 800;
    font-style: normal;

}

.servicos__disponiveis {
    font-size: 10px;
    text-align: center;
    border: 0px solid rgba(252, 254, 255, 0.897);
    background-color: #E2EEF1;
    border-radius: 5px;
    height: 27vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding: .9rem;
    justify-content: space-between;
    font-family: 'Montserrat Alternates' sans-serif;
    font-weight: 600;
    font-style: normal;


}

.servicos__disponiveis img {
    width: 40px;
}


.botao {
    background-color: #116985;
    padding: .2rem;
    border: 1px solid #116985;
    color: #ffffff;
    margin: 10px;
    height: 3vh;
    border-radius: inherit;
}


.destaques {
    display: flex;
    justify-content: center;

}

.texto__destaques {
    font-family: 'Montserrat Alternates' sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: .9rem;
}


.servicos__destaques {
    display: flex;
    width: 100vw;
    height: 30vh;
    gap: 35%;


}

.subtitulo__destaques {
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    padding: .9rem;
    align-items: center;
    border: 10px solic black;
    text-align: center;
    width: 30vw;
}

footer {
    font-family: 'Montserrat Alternates' sans-serif;
    font-weight: 600;
    font-style: normal;
    display: flex;
    gap: 50px;
    flex-direction: row;
    border: 1px solid #E2EEF1;
    background: #E2EEF1;
    height: 15vh;

}

li a {
    text-decoration: none;
    color: #797575;
    font-size: 10px;
}

.final {
    background: linear-gradient(to left, #1275AD, #f9f9f918);
    height: 3vh;
}